<div id="container" controller="LoginCtrl">

	<div class="row" id="bg">
		
		<div class="col-md-6" id="words">
			<p><font face="Microsoft YaHei UI" color="#777777" size="6">创加   |   </font>
			<font face="Microsoft YaHei UI" color="#8d5a95" size="6">登录</font></p>	
		</div>
		
		<div class="col-md-6" id="lllogin">

			<form class="ui form segment" ng-submit="login_user()" id="login">
				
				<div class="form-group">  
				   
				    <div class="input-group" class="first">
				     
				      <div class="input-group-addon">
				      <span class="glyphicon glyphicon-envelope" aria-hidden="true">
				      </span>
				      </div>

				      <input type="text" class="form-control" id="username" placeholder="输入用户名" ng-model="login_info.username" required>
				    
				    </div>

				</div>
				
				<div class="form-group">  
				    
				    <div class="input-group">
				      
				      <div class="input-group-addon">
				      <span class="glyphicon glyphicon-lock" aria-hidden="true">
				      </span>
				      </div>
				     
				      <input type="text" class="form-control" id="password" placeholder="输入密码" ng-model="login_info.password" required>	
				    
				    </div>

				</div>
			
				<error-message error="error"></error-message>
	        	<input type="submit" value="登录" class="button" id="login_button">
	        	<br/>
	        	<span style="font-family:'Microsoft YaHei UI'" id="regist_link" >没有账号，请点击
	        	<a style="font-family:'Microsoft YaHei UI'" href="/regist"><font color="#8d5a95">注册</font></a></span>
	        </form>
		</div>
	</div>