body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:27px;
  width:1343px;
  visibility:hidden;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:170px;
  top:21px;
  width:100px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:293px;
  top:21px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:783px;
  top:20px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1020px;
  top:21px;
  width:230px;
  height:28px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:913px;
  top:18px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:661px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:720px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:602px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1260px;
  top:21px;
  width:60px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:390px;
  top:21px;
  width:103px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:190px;
  top:120px;
  width:200px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:285px;
  top:170px;
  width:10px;
  height:40px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u29 {
  position:absolute;
  left:190px;
  top:196px;
  width:200px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:80px;
  top:270px;
  width:200px;
  height:50px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:310px;
  top:270px;
  width:200px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:200px;
  top:340px;
  width:200px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:200px;
  top:480px;
  width:200px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:295px;
  top:390px;
  width:10px;
  height:20px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u40 {
  position:absolute;
  left:440px;
  top:340px;
  width:200px;
  height:50px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:200px;
  top:410px;
  width:200px;
  height:50px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:295px;
  top:460px;
  width:10px;
  height:20px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u45 {
  position:absolute;
  left:250px;
  top:246px;
  width:10px;
  height:24px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:7px;
  width:20px;
  height:18px;
}
#u45_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:24px;
}
#u46 {
  position:absolute;
  left:330px;
  top:246px;
  width:10px;
  height:24px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:7px;
  width:20px;
  height:18px;
}
#u46_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:24px;
}
#u47 {
  position:absolute;
  left:250px;
  top:320px;
  width:10px;
  height:20px;
}
#u47_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u47_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u47_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u48 {
  position:absolute;
  left:330px;
  top:320px;
  width:10px;
  height:20px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u49 {
  position:absolute;
  left:295px;
  top:530px;
  width:10px;
  height:30px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u50 {
  position:absolute;
  left:200px;
  top:780px;
  width:200px;
  height:100px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u51 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:700px;
  top:120px;
  width:640px;
  height:570px;
  overflow:hidden;
}
#u52_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state0.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state1.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state2.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state3.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state4.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state5.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state6.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state7.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state8 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state8.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state8_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_state9 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/融资过程介绍/u52_state9.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u52_state9_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:40px;
  top:930px;
  width:1060px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:1043px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1060px;
  height:1px;
}
#u55 {
  position:absolute;
  left:399px;
  top:1062px;
  width:86px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:369px;
  top:1122px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:577px;
  top:1122px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:785px;
  top:1122px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:265px;
  top:1122px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:495px;
  top:1062px;
  width:74px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:579px;
  top:1062px;
  width:86px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:665px;
  top:1062px;
  width:75px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:411px;
  top:1002px;
  width:50px;
  height:50px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:495px;
  top:1002px;
  width:50px;
  height:50px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:581px;
  top:1002px;
  width:50px;
  height:50px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u76 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:677px;
  top:1002px;
  width:50px;
  height:50px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u78 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:473px;
  top:1122px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:681px;
  top:1122px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:440px;
  top:1176px;
  width:422px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:465px;
  top:1232px;
  width:200px;
  height:100px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u86 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:200px;
  top:560px;
  width:200px;
  height:50px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u88 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:200px;
  top:640px;
  width:200px;
  height:50px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u90 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:295px;
  top:610px;
  width:10px;
  height:30px;
}
#u91_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u91_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u91_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u92 {
  position:absolute;
  left:400px;
  top:360px;
  width:40px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
