body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:27px;
  width:1343px;
  visibility:hidden;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:170px;
  top:21px;
  width:100px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:293px;
  top:21px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:783px;
  top:20px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1020px;
  top:21px;
  width:230px;
  height:28px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:913px;
  top:18px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:661px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:720px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:602px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1260px;
  top:21px;
  width:60px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:390px;
  top:21px;
  width:103px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:56px;
  top:102px;
  width:289px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:221px;
  top:140px;
  width:49px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:221px;
  top:180px;
  width:49px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:198px;
  top:220px;
  width:73px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:221px;
  top:260px;
  width:49px;
  height:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:197px;
  top:300px;
  width:73px;
  height:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:280px;
  top:140px;
  width:200px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39 {
  position:absolute;
  left:280px;
  top:180px;
  width:200px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40 {
  position:absolute;
  left:280px;
  top:222px;
  width:200px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:280px;
  top:263px;
  width:200px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42 {
  position:absolute;
  left:280px;
  top:303px;
  width:200px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43 {
  position:absolute;
  left:47px;
  top:390px;
  width:200px;
  height:100px;
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:280px;
  top:390px;
  width:200px;
  height:100px;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:40px;
  top:528px;
  width:1060px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:1043px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1060px;
  height:1px;
}
#u49 {
  position:absolute;
  left:399px;
  top:660px;
  width:86px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:369px;
  top:720px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:577px;
  top:720px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:785px;
  top:720px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:265px;
  top:720px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:495px;
  top:660px;
  width:74px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:579px;
  top:660px;
  width:86px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:665px;
  top:660px;
  width:75px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:411px;
  top:600px;
  width:50px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:495px;
  top:600px;
  width:50px;
  height:50px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:581px;
  top:600px;
  width:50px;
  height:50px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:677px;
  top:600px;
  width:50px;
  height:50px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:473px;
  top:720px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:681px;
  top:720px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:440px;
  top:774px;
  width:422px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:465px;
  top:830px;
  width:200px;
  height:100px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u80 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
