body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:27px;
  width:1343px;
  visibility:hidden;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:170px;
  top:21px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:293px;
  top:21px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:783px;
  top:20px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1020px;
  top:21px;
  width:230px;
  height:28px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:913px;
  top:18px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:661px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:720px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:602px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1260px;
  top:21px;
  width:60px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:40px;
  top:140px;
  width:235px;
  height:90px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:90px;
}
#u25 {
  position:absolute;
  left:2px;
  top:33px;
  width:231px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:275px;
  top:140px;
  width:235px;
  height:90px;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:90px;
}
#u27 {
  position:absolute;
  left:2px;
  top:33px;
  width:231px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:510px;
  top:140px;
  width:235px;
  height:90px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:90px;
}
#u29 {
  position:absolute;
  left:2px;
  top:33px;
  width:231px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:745px;
  top:140px;
  width:235px;
  height:90px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:90px;
}
#u31 {
  position:absolute;
  left:2px;
  top:33px;
  width:231px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:640px;
  width:1060px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:1043px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1060px;
  height:1px;
}
#u34 {
  position:absolute;
  left:379px;
  top:772px;
  width:86px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:349px;
  top:832px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:557px;
  top:832px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:765px;
  top:832px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:245px;
  top:832px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:475px;
  top:772px;
  width:74px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:559px;
  top:772px;
  width:86px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:645px;
  top:772px;
  width:75px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:391px;
  top:712px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:475px;
  top:712px;
  width:50px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u53 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:561px;
  top:712px;
  width:50px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:657px;
  top:712px;
  width:50px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:453px;
  top:832px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:661px;
  top:832px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:420px;
  top:886px;
  width:422px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:445px;
  top:942px;
  width:200px;
  height:100px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u65 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:40px;
  top:260px;
  width:940px;
  height:360px;
  overflow:hidden;
}
#u66_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:360px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/查看融资状态/u66_state0.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/查看融资状态/u66_state1.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u66_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/查看融资状态/u66_state2.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u66_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/查看融资状态/u66_state3.JPG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u66_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
