body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:27px;
  width:1343px;
  visibility:hidden;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:170px;
  top:21px;
  width:100px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:293px;
  top:21px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:783px;
  top:20px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1020px;
  top:21px;
  width:230px;
  height:28px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:913px;
  top:18px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:661px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:720px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:602px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1260px;
  top:21px;
  width:60px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:390px;
  top:21px;
  width:103px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:260px;
  top:158px;
  width:116px;
  height:28px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:260px;
  top:196px;
  width:116px;
  height:28px;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:420px;
  top:272px;
  width:200px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:420px;
  top:161px;
  width:200px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33 {
  position:absolute;
  left:420px;
  top:199px;
  width:200px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34 {
  position:absolute;
  left:420px;
  top:234px;
  width:120px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35 {
  position:absolute;
  left:260px;
  top:234px;
  width:116px;
  height:28px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:550px;
  top:234px;
  width:70px;
  height:28px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:50px;
  top:350px;
  width:1060px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:1043px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1060px;
  height:1px;
}
#u41 {
  position:absolute;
  left:409px;
  top:482px;
  width:86px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:379px;
  top:542px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:587px;
  top:542px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:795px;
  top:542px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:275px;
  top:542px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:505px;
  top:482px;
  width:74px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:589px;
  top:482px;
  width:86px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:675px;
  top:482px;
  width:75px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:421px;
  top:422px;
  width:50px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:505px;
  top:422px;
  width:50px;
  height:50px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:591px;
  top:422px;
  width:50px;
  height:50px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:687px;
  top:422px;
  width:50px;
  height:50px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:483px;
  top:542px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:691px;
  top:542px;
  width:94px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:450px;
  top:596px;
  width:422px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:475px;
  top:652px;
  width:200px;
  height:100px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u72 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
