#projectdetail{
	.tab-bar {
		background-color:#444;
		border-bottom:solid 4px #58b;
		.width-limited {
			height:60px;
			.tab {
				font-family:'黑体','Arial';
				font-size:18px;
				height:60px;
				width:568px;
				float:left;
				color:#fff;
				padding-top:18px;
				text-align:center;
			}
			.tab-active {
				background-color:#58b;
			}
			.pulldown_roadshow{
				position:absolute;
				margin-left:-860px;
				margin-top:55px;
			}
			.pulldown_text{
				position:absolute;
				margin-left:-310px;
				margin-top:55px;
			}
			.pulldown_joinus{
				position:absolute;
				margin-left:-292px;
				margin-top:55px;
			}
		}
	}
	#header{
		position:relative;
		background: url(../img/projectdetail/bg2.jpg) no-repeat;
		background-size: cover;
		height:418px;
		img{
			margin:0 auto;
			display: block;
			padding-top: 20px;
		}
		.name{
			margin: 0 auto;
  			display: table;
  			margin-top:20px;
			#sizeh3{
				font-family:'黑体','Arial';
				color:#777777;
				text-align: center;
				font-size: 24px;
				}
			#sizeh4{
				height:20px;
				font-family:'黑体','Arial';
				text-align: center;
				font-size: 15px;
				background: #916099;
				padding: 3px;
				color: white;
				}
			}
		h4{
			font-family:'黑体','Arial';
			color:#777777;
			text-align: center;
		}
		#leftbar{
			position:absolute;
			left:12%;
			top:0;
			background-color:#959595;
		  	height: 340px;
		  	width: 130px;
		}
	}
	#roadshowimg{
		img{
			width:76%;
			margin: 0 auto;
  			display: block;
		}
	}
	#text{
		.name{
			margin: 0 auto;
  			display: table;
  			margin-left:10%;
  			margin-top:15px;
  			margin-bottom:15px;
  			.img-guanzhuicon{
  				margin-left:20px;
  			}
			#sizeh3{
				font-family:'黑体','Arial';
				color:#777777;
				text-align: center;
				font-size: 20px;
			}
			#sizeh4{
				height:20px;
				font-family:'黑体','Arial';
				text-align: center;
				font-size: 12px;
				background: #926197;
				border-radius:4px;
				padding: 3px;
				color: #FFFFFF;
				margin:3px;
				margin-bottom:3px;
			}
			#sizeh5{
				font-family:'黑体','Arial';
				color:#777777;
				text-align: center;
				font-size: 16px;
				margin-left:20px;
			}
		}
		.project{
			position:relative;
			background: url(../img/projectdetail/bg.jpg) no-repeat;
			background-size: cover;
			height:418px;
			img{
				width:22%;
				margin:0 auto;
				display: block;
				padding-top: 45px;
				padding-bottom:45px;
				margin-left:10%;
			}
			#projecttext{
				position:absolute;
				left: 34%;;
				top:40px;

				.td1{
					width:16%;
					.sizeh6{
						font-family:'黑体','Arial';
						color:#FFFFFF;
						text-align: center;
						font-size: 20px;
					}
				}
				.td2{
					width:550px;
					.sizeh7{
						font-family:'黑体','Arial';
						color:#e1e1e1;
						text-align: center;
						font-size: 16px;
					}
				}	
			}
		}
		#rightbar{
			position:absolute;
			right:248px;
			top:232px;
			background-color:#959595;
		  	height: 340px;
		  	width: 130px;
		  	img{
	  		  margin: 0 auto;
			  display: block;
			  padding-top: 20px;
		  	}
		}
	}
	#projectinfo{
		position:relative;
		background-color: rgba(255,255,255,0.3);
		margin-top:20px;
		width:100%;
		margin:0 auto;
		dispaly: block;

		.tab-bar {
			background-color:#8e5a96;
			border-bottom:solid 10px #e1e1e1;
			.width-limited {
				height:80px;
				.tab {
					font-family:'黑体','Arial';
					font-size:18px;
					height:80px;
					width:20%;
					float:left;
					color:#ffffff;
					padding-top:28px;
					text-align:center;
				}
				.tab-active {
					background-color:#e1e1e1;
					color:#777777;
				}
			}
		}
	}
	#projectcontent{
		background-color:#e1e1e1;
		width:100%;
		margin:0 auto;
		margin-top: -20px;
		padding-bottom: 40px;
		#teammember{
			width: 80%;
			height: 200px;
			margin:0 auto;
			background-color:#ffffff;
			margin-top: 20px;
			padding-top:30px;

			#member{
				position: relative;
				width:93%;
				display: block;
				margin:0 auto;
				img{
					width: 60px;
					height:60px;
				}
				#sizeh8{
				position: absolute;
				left: 85px;
				font-size:18px;
				color:#777777;
				font-family: 微软雅黑;
				}
				#sizeh9{
					position: absolute;
					left: 85px;
					font-size:14px;
					color:#777777;
					font-family: 微软雅黑;
					top: 30px;
				}
				#sizeh10{
					position: absolute;
					font-size:16px;
					color:#777777;
					font-family: 微软雅黑;
					top: 70px;
  					left: 0px;
				}
			}
			
		}
		#productinfo{
			width: 80%;
			margin:0 auto;
			margin-top: 20px;
			padding-top:30px;
			img{
				width:100%;
				margin:0 auto;
				margin-top:30px;
				margin-bottom:30px;
			}
			.sizeh11{
				font-size:24px;
				color:#777777;
				font-family: 微软雅黑;
			}
			.sizeh12{
				font-size:16px;
				color:#777777;
				font-family: 微软雅黑;
			}
			#qrcodeImg{
				width: 130px;
				height: 130px;
			}
		}
		#industryanalysis{
			width: 80%;
			margin:0 auto;
			margin-top: 20px;
			padding-top:30px;
			.sizeh11{
				font-size:24px;
				color:#777777;
				font-family: 微软雅黑;
				margin-bottom: 20px;
				margin-top: 20px;
			}
			.sizeh12{
				font-size:16px;
				color:#777777;
				font-family: 微软雅黑;
			}
		}
		#futureplan{
			width: 80%;
			margin:0 auto;
			margin-top: 20px;
			padding-top:30px;
			.sizeh11{
				font-size:24px;
				color:#777777;
				font-family: 微软雅黑;
			}
			.sizeh12{
				font-size:16px;
				color:#777777;
				font-family: 微软雅黑;
			}
		}
		#breaknew{
			width: 80%;
			margin:0 auto;
			margin-top: 20px;
			padding-top:30px;
			.sizeh13{
				font-size:24px;
				color:#777777;
				font-family: 微软雅黑;
			}
			.sizeh14{
				font-size:16px;
				color:#777777;
				font-family: 微软雅黑;
			}
		}
	}
}