#projectdetail{
	.tab-bar {
		background-color:#444;
		border-bottom:solid 4px #58b;
		.width-limited {
			height:60px;
			.tab {
				font-family:'黑体','Arial';
				font-size:18px;
				height:60px;
				width:380px;
				float:left;
				color:#fff;
				padding-top:18px;
				text-align:center;
			}
			.tab-active {
				background-color:#58b;
			}
			.pulldown_roadshow{
				position:absolute;
				margin-left:-955px;
				margin-top:55px;
			}
			.pulldown_text{
				position:absolute;
				margin-left:-580px;
				margin-top:55px;
			}
			.pulldown_joinus{
				position:absolute;
				margin-left:-198px;
				margin-top:55px;
			}
		}
	}
	#header{
		position:relative;
		background: url(../img/projectdetail/bg2.jpg) no-repeat;
		background-size: cover;
		height:418px;
		img{
			margin:0 auto;
			display: block;
			padding-top: 45px;
		}
		.name{
			margin: 0 auto;
  			display: table;
  			margin-top:45px;
			#sizeh3{
				font-family:'黑体','Arial';
				color:#777777;
				text-align: center;
				font-size: 24px;
				}
			#sizeh4{
				height:20px;
				font-family:'黑体','Arial';
				text-align: center;
				font-size: 15px;
				background: #916099;
				padding: 3px;
				color: white;
				}
			}
		h4{
			font-family:'黑体','Arial';
			color:#777777;
			text-align: center;
		}
		#leftbar{
			position:absolute;
			left:12%;
			top:0;
			background-color:#959595;
		  	height: 418px;
		  	width: 130px;
		}
	}
	#roadshowimg{
		img{
			width:76%;
			margin: 0 auto;
  			display: block;
		}
	}
}