#container{
	#headimg{
		display:block;
		margin:0 auto;
	}
	#bg_reg{
		background-image: url(../img/login/login-bg.png);
		height: 500px;
		#left{
			background-image: url(../img/regist/start-up2.png);
			background-repeat: no-repeat;
			height: 100%;
			width: 40%;
			margin-top:68px;
			margin-left:72px;
		}
	}
	
}