.form-group > div > a {
  position: relative;
  top: 8px;
}
.dz-form-edit label {
  margin-left: 20px;
  margin-right: 10px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
#wrap {
  height: 100%;
}
body > #wrap {
  height: auto;
  min-height: 100%;
}
.main-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
#chuangp-footer {
  font-family: "微软雅黑";
}
#footer1 > .container,
#footer2 > .container {
  padding-left: 0;
  padding-right: 0;
}
#footer2,
.navbar-footer {
  min-height: 136px;
  background-color: #8e8e8e;
}
.navbar-footer {
  float: left;
}
#footer-brand {
  padding-left: 340px;
}
#footer-navbar-logo {
  height: 136px;
  width: 90px;
  padding-top: 43px;
  padding-bottom: 43px;
  float: left;
}
#footer-nav > li > a,
#footer-navbar-brand > a,
#footer-nav > li > a:hover,
#footer-navbar-brand > a:hover,
#footer-nav > li > a:focus,
#footer-navbar-brand > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #8e8e8e;
}
#footer-navbar-brand {
  height: 136px;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 56.5px;
  padding-left: 50px;
  padding-right: 0;
}
#footer-nav > li {
  height: 136px;
}
#footer-nav > li > a {
  padding-top: 56.5px;
  padding-right: 4px;
  padding-bottom: 56.5px;
  padding-left: 4px;
  text-align: center;
}
#footer1 {
  height: 215px;
  background-color: #ffffff;
}
#contactshare-nav > li > a {
  color: #777777;
}
#contanctinfo > li > a {
  color: #8e8e8e;
}
#contanctinfo > li > a:hover,
#contanctinfo > li > a:focus {
  text-decoration: none;
}
#contactshare-nav > li {
  height: 152px;
}
#contactshare-nav > li > a {
  padding-top: 30px;
  padding-right: 4px;
  padding-bottom: 10px;
  padding-left: 4px;
  text-align: center;
  background-color: transparent !important;
}
#contactshare-nav {
  position: relative;
  width: 100%;
  height: 182px;
}
#line {
  position: absolute;
  height: 152px;
  width: 2px;
  left: 50%;
  margin-top: 30px;
  margin-left: 1px;
  background-color: #DEDEDE;
}
#erweima {
  height: 130px;
  width: 130px;
  background-image: url(../img/footer/2weima.png);
  background-repeat: no-repeat;
  background-position: top left;
}
#erweima a {
  padding-top: 110px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 5px;
  font-size: 10px;
  color: #777777;
  background-color: transparent !important;
}
#contanctinfo {
  height: 113px;
  width: 390px;
}
#contanctinfo li {
  height: 37px;
  width: 390px;
  padding-top: 10px;
  font-size: 10px;
  list-style-type: none;
}
#contanctinfo a {
  padding-left: 20px;
}
#weiboicon {
  left: 60px;
  height: 130px;
  width: 90px;
  background-image: url(../img/footer/weibo-before.png);
  background-repeat: no-repeat;
  background-position: center;
}
#weiboicon:hover,
#weiboicon:focus {
  background-image: url(../img/footer/weibo-after.png);
}
#tengxunicon {
  left: 60px;
  height: 130px;
  width: 90px;
  background-image: url(../img/footer/tengxun-before.png);
  background-repeat: no-repeat;
  background-position: center;
}
#tengxunicon:hover,
#tengxunicon:focus {
  background-image: url(../img/footer/tengxun-after.png);
}
#kongjianicon {
  left: 60px;
  height: 130px;
  width: 90px;
  background-image: url(../img/footer/kongjian-before.png);
  background-repeat: no-repeat;
  background-position: center;
}
#kongjianicon:hover,
#kongjianicon:focus {
  background-image: url(../img/footer/kongjian-after.png);
}
#weixinicon {
  left: 60px;
  height: 130px;
  width: 90px;
  background-image: url(../img/footer/weixin-before.png);
  background-repeat: no-repeat;
  background-position: center;
}
#weixinicon:hover,
#weixinicon:focus {
  background-image: url(../img/footer/weixin-after.png);
}
#image {
  width: 100%;
  margin: 0 auto;
}
.width-limited {
  width: 1200px;
  margin: auto;
}
.tab-bar {
  background-color: #444;
  border-bottom: solid 4px #58b;
}
.tab-bar .width-limited {
  height: 60px;
}
.tab {
  font-family: '黑体', 'Arial';
  font-size: 18px;
  height: 60px;
  width: 568px;
  float: left;
  color: #fff;
  padding-top: 18px;
  text-align: center;
}
.tab-active {
  background-color: #58b;
}
.xiaojiao {
  position: absolute;
  margin-left: -910px;
  margin-top: 55px;
}
.xiaojiao-inv {
  position: absolute;
  margin-left: -310px;
  margin-top: 55px;
}
.banner {
  height: 400px;
  margin-top: 70px;
}
.cyz-icon {
  float: left;
  margin: 20px 175px 20px 175px;
}
.cyz-icon h3 {
  text-align: center;
  font-size: 24px;
}
#chuangp-header {
  font-family: "微软雅黑";
}
.navbar,
.navbar-header {
  min-height: 110px;
}
.navbar-inverse {
  background-color: #ffffff;
}
#headernavbar {
  position: relative;
  width: 100%;
  height: 110px;
  margin-bottom: 0;
  border: 0;
  background-image: url(../img/header/topbg.png);
  background-repeat: repeat-x;
  background-position: top;
}
#headercontainer {
  height: 110px;
  padding-right: 0;
  padding-left: 0;
}
#header-navbar-logo {
  height: 110px;
  width: 90px;
  padding-top: 35px;
  padding-bottom: 25px;
  float: left;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand > a {
  color: #606060;
  line-height: 90%;
  text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .activeheader > a,
.navbar-inverse .navbar-nav > .activeheader > a:hover,
.navbar-inverse .navbar-nav > .activeheader > a:focus {
  color: rgba(96, 96, 96, 0.7);
  background-color: #ffffff;
  background-image: url(../img/header/top.png);
  background-size: 100px 10px;
  background-repeat: no-repeat;
  background-position: top;
}
.navbar-inverse .navbar-nav > li {
  height: 110px;
  width: 100px;
}
.navbar-inverse .navbar-nav > li > a {
  padding-top: 48.5px;
  padding-right: 0;
  padding-bottom: 38.5px;
  padding-left: 0;
  text-align: center;
}
#header-navbar-brand {
  height: 110px;
  width: 165px;
  line-height: 0.5;
  padding-top: 45px;
}
.navbar-form {
  padding-top: 45px;
  padding-right: 19px;
  padding-bottom: 35px;
  padding-left: 19px;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-form .form-control {
  height: 30px;
  width: 230px;
  background-color: rgba(96, 96, 96, 0.1);
  border-color: rgba(96, 96, 96, 0.3);
  border-radius: 0;
}
.user-info {
  position: absolute;
  margin-top: -80px;
  margin-left: 900px;
}
