.form-group > div > a {
  position: relative;
  top: 8px;
}
.dz-form-edit label {
  margin-left: 20px;
  margin-right: 10px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
#wrap {
  height: 100%;
}
body > #wrap {
  height: auto;
  min-height: 100%;
}
#main-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
#container {
  margin-left: 10%;
  margin-right: 10%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
#chuangp-footer {
  font-family: "微软雅黑";
}
#footer1 > .container,
#footer2 > .container {
  padding-left: 0;
  padding-right: 0;
}
#footer2,
.navbar-footer {
  min-height: 136px;
  background-color: #8e8e8e;
}
.navbar-footer {
  float: left;
}
#footer-brand {
  padding-left: 340px;
}
#footer-navbar-logo {
  height: 136px;
  width: 90px;
  padding-top: 43px;
  padding-bottom: 43px;
  float: left;
}
#footer-nav > li > a,
#footer-navbar-brand > a,
#footer-nav > li > a:hover,
#footer-navbar-brand > a:hover,
#footer-nav > li > a:focus,
#footer-navbar-brand > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #8e8e8e;
}
#footer-navbar-brand {
  height: 136px;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 56.5px;
  padding-left: 50px;
  padding-right: 0;
}
#footer-nav > li {
  height: 136px;
}
#footer-nav > li > a {
  padding-top: 56.5px;
  padding-right: 4px;
  padding-bottom: 56.5px;
  padding-left: 4px;
  text-align: center;
}
#footer1 {
  height: 215px;
  background-color: #ffffff;
}
#contactshare-nav > li > a {
  color: #777777;
}
#contanctinfo > li > a {
  color: #8e8e8e;
}
#contanctinfo > li > a:hover,
#contanctinfo > li > a:focus {
  text-decoration: none;
}
#contactshare-nav > li {
  height: 152px;
}
#contactshare-nav > li > a {
  padding-top: 30px;
  padding-right: 4px;
  padding-bottom: 10px;
  padding-left: 4px;
  text-align: center;
  background-color: transparent !important;
}
#contactshare-nav {
  position: relative;
  width: 100%;
  height: 182px;
}
#line {
  position: absolute;
  height: 152px;
  width: 2px;
  left: 50%;
  margin-top: 30px;
  margin-left: 1px;
  background-color: #DEDEDE;
}
#erweima {
  height: 130px;
  width: 130px;
  background-image: url(../img/footer/2weima.png);
  background-repeat: no-repeat;
  background-position: top left;
}
#erweima a {
  padding-top: 110px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 5px;
  font-size: 10px;
  color: #777777;
  background-color: transparent !important;
}
#contanctinfo {
  height: 113px;
  width: 390px;
}
#contanctinfo li {
  height: 37px;
  width: 390px;
  padding-top: 10px;
  font-size: 10px;
  list-style-type: none;
}
#contanctinfo a {
  padding-left: 20px;
}
#weiboicon {
  left: 60px;
  height: 130px;
  width: 90px;
  background-image: url(../img/footer/weibo-before.png);
  background-repeat: no-repeat;
  background-position: center;
}
#weiboicon:hover,
#weiboicon:focus {
  background-image: url(../img/footer/weibo-after.png);
}
#tengxunicon {
  left: 60px;
  height: 130px;
  width: 90px;
  background-image: url(../img/footer/tengxun-before.png);
  background-repeat: no-repeat;
  background-position: center;
}
#tengxunicon:hover,
#tengxunicon:focus {
  background-image: url(../img/footer/tengxun-after.png);
}
#kongjianicon {
  left: 60px;
  height: 130px;
  width: 90px;
  background-image: url(../img/footer/kongjian-before.png);
  background-repeat: no-repeat;
  background-position: center;
}
#kongjianicon:hover,
#kongjianicon:focus {
  background-image: url(../img/footer/kongjian-after.png);
}
#weixinicon {
  left: 60px;
  height: 130px;
  width: 90px;
  background-image: url(../img/footer/weixin-before.png);
  background-repeat: no-repeat;
  background-position: center;
}
#weixinicon:hover,
#weixinicon:focus {
  background-image: url(../img/footer/weixin-after.png);
}
#endoftext {
  height: 2px;
  width: 100%;
  background: #DEDEDE;
  margin-top: 25px;
}
#image {
  width: 100%;
  margin: 0 auto;
}
.width-limited {
  width: 1200px;
  margin: auto;
}
.tab-bar {
  background-color: #444;
  border-bottom: solid 4px #58b;
}
.tab-bar .width-limited {
  height: 60px;
}
.tab {
  font-family: '黑体', 'Arial';
  font-size: 18px;
  height: 60px;
  width: 568px;
  float: left;
  color: #fff;
  padding-top: 18px;
  text-align: center;
}
.tab-active {
  background-color: #58b;
}
.xiaojiao {
  position: absolute;
  margin-left: -861px;
  margin-top: 55px;
}
.xiaojiao-inv {
  position: absolute;
  margin-left: -310px;
  margin-top: 55px;
}
.banner {
  height: 400px;
  margin-top: 70px;
}
.cyz-icon {
  float: left;
  margin: 20px 175px 20px 175px;
}
.cyz-icon h3 {
  text-align: center;
  font-size: 24px;
  font-family: 微软雅黑;
  color: darkgray;
}
#viewpage {
  height: 630px;
  width: 100%;
}
.dashiji {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 55.53%;
}
.dashiji img {
  width: 100%;
}
.dashiji .startup {
  position: absolute;
  left: 33.5%;
  top: 28%;
  background-color: #404040;
  padding-bottom: 27.33%;
  width: 33.33%;
  height: 0;
}
.dashiji .startup img {
  width: 87.2%;
  display: block;
  margin: 0 auto;
  margin-top: 3%;
  padding-bottom: 21.50%;
}
.dashiji .startup #endoftext {
  width: 87.2%;
  display: block;
  margin: 0 auto;
}
.dashiji .startup #info {
  width: 87.2%;
  display: block;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: normal;
}
.dashiji .startup #info #head {
  color: darkgray;
  font-size: 10%;
}
.dashiji .startup #info #text {
  color: darkgray;
  font-size: 5%;
}
.dashiji #event {
  font-size: 36px;
  position: absolute;
  left: 41%;
  top: 80%;
  color: white;
  font-family: 微软雅黑;
}
.dashiji .invest {
  position: absolute;
  left: 5%;
  top: 0%;
}
.dashiji .invest h1 {
  color: white;
  font-family: 微软雅黑;
  font-weight: 600;
  text-align: center;
  padding-top: 5%;
}
.dashiji .invest .roadshowlayout {
  margin-top: 4%;
  margin-left: 10%;
}
.dashiji .invest .roadshowlayout .roadshow {
  padding-bottom: 32%;
  width: 58%;
  height: 0;
}
.hzdw {
  height: 400px;
  background-color: #eeeeee;
}
.hzdw h1 {
  color: slategray;
  font-family: 微软雅黑;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
#chuangp-header {
  font-family: "微软雅黑";
}
.navbar,
.navbar-header {
  min-height: 110px;
}
.navbar-inverse {
  background-color: #ffffff;
}
#headernavbar {
  position: relative;
  width: 100%;
  height: 110px;
  margin-bottom: 0;
  border: 0;
  background-image: url(../img/header/topbg.png);
  background-repeat: repeat-x;
  background-position: top;
}
#headercontainer {
  height: 110px;
  padding-right: 0;
  padding-left: 0;
}
#header-navbar-logo {
  height: 110px;
  width: 90px;
  padding-top: 35px;
  padding-bottom: 25px;
  float: left;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand > a {
  color: #606060;
  line-height: 90%;
  text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .activeheader > a,
.navbar-inverse .navbar-nav > .activeheader > a:hover,
.navbar-inverse .navbar-nav > .activeheader > a:focus {
  color: rgba(96, 96, 96, 0.7);
  background-color: #ffffff;
  background-image: url(../img/header/top.png);
  background-size: 100px 10px;
  background-repeat: no-repeat;
  background-position: top;
}
.navbar-inverse .navbar-nav > li {
  height: 110px;
  width: 100px;
}
.navbar-inverse .navbar-nav > li > a {
  padding-top: 48.5px;
  padding-right: 0;
  padding-bottom: 38.5px;
  padding-left: 0;
  text-align: center;
}
#header-navbar-brand {
  height: 110px;
  width: 165px;
  line-height: 0.5;
  padding-top: 45px;
}
.navbar-form {
  padding-top: 45px;
  padding-right: 19px;
  padding-bottom: 35px;
  padding-left: 19px;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-form .form-control {
  height: 30px;
  width: 230px;
  background-color: rgba(96, 96, 96, 0.1);
  border-color: rgba(96, 96, 96, 0.3);
  border-radius: 0;
}
.user-info {
  position: absolute;
  margin-top: -80px;
  margin-left: 900px;
}
#financing {
  position: relative;
}
#financing img {
  width: 100%;
}
#financing #introduction {
  width: auto;
  height: 92px;
  opacity: 0.85;
  margin-bottom: 25%;
}
#financing #introduction .t1 {
  margin-top: 0px;
  font-family: 微软雅黑;
  font-size: 24px;
  color: white;
}
#financing #introduction .t3 {
  font-family: 微软雅黑;
  font-size: 16px;
  color: white;
}
#financing #introduction #vertical-line {
  width: 5px;
  height: 92px;
  background-color: white;
  opacity: 0.8;
  margin-right: 25px;
  float: left;
}
#financing #introduction .title1 {
  padding-right: 76%;
  line-height: 24px;
  margin-bottom: 14px;
}
#financing #introduction #horizontal-line {
  width: 560px;
  height: 2px;
  border-right: 530px solid white;
}
#financing #introduction .title2 {
  line-height: 21px;
  margin-top: 10px;
  width: 560px;
}
#financing #options {
  position: absolute;
  left: 10%;
  top: 75%;
  width: 1189px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
  margin: auto;
}
#financing #opt0 {
  width: auto;
  height: 46px;
  background-color: #8e5a96;
  float: left;
  margin-left: 10px;
  cursor: pointer;
  font-family: 微软雅黑;
  color: white;
}
#financing .opt {
  width: auto;
  height: 46px;
  position: relative;
  background-color: #848286;
  float: left;
  margin: auto;
  cursor: pointer;
  z-index: 9999;
}
#financing .opt:hover {
  background-color: #8e5a96;
  opacity: 0.9;
}
#financing .opt ul {
  position: absolute;
  background: #8e5a96;
  padding: 20px;
  width: 360px;
  top: 46px;
}
#financing .opt ul li {
  color: #FFF;
  display: block;
  float: left;
  margin: 1px 5px;
  padding: 2px 5px;
}
#financing .opt ul li:hover {
  background: #3e2438;
}
#financing .opt-text {
  width: auto;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  float: left;
  font-size: 17px;
  font-family: 微软雅黑;
  color: white;
}
#financing .opt-pos0 {
  width: 50px;
  height: 46px;
  float: left;
}
#financing .opt-pos {
  width: 61px;
  height: 46px;
  float: left;
}
#financing .opt-img {
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 15px;
  margin-bottom: 12px;
}
#financing .w1 {
  position: relative;
  border: 0 solid black;
  margin: 50px auto 0 auto;
  height: 270px;
  width: 1180px;
  font-family: '微软雅黑 Regular', '微软雅黑';
}
#financing .w10 {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 35px;
  font-size: 12px;
  padding: 5px 0 0 11px;
  color: #f9f9f9;
  background-image: url(../img/project/label.png);
}
#financing .w11 {
  height: 270px;
  width: 480px;
  float: left;
  background-color: #dcdcdc;
}
#financing .w12 {
  height: 270px;
  width: 642px;
  float: left;
  color: #848286;
  background-color: #f2f2f2;
}
#financing .w121 {
  margin: 15px 0 0 20px;
  font-size: 25px;
}
#financing .w122 {
  margin: 9px 0 0 20px;
  font-size: 14px;
}
#financing .w1220 {
  float: left;
}
#financing .w12201 {
  float: left;
  margin-left: 5px;
}
#financing .w12202 {
  float: left;
  margin: 0 12px 0 10px;
}
#financing .w123 {
  font-size: 13px;
  line-height: 19px;
  margin: 32px 20px 0 20px;
  color: #999;
}
#financing .w124 {
  position: absolute;
  top: 214px;
  border-top: 2px solid #bbb;
  padding: 10px 0 0 0;
  margin-left: 20px;
}
#financing .w1240 {
  float: left;
  height: 24px;
  background-color: #7495ca;
  color: #f9f9f9;
  font-size: 11px;
  line-height: 24px;
  padding: 0 20px 0 20px;
  margin-right: 4px;
  border-radius: 4px;
}
#financing .w13 {
  height: 30px;
  width: 18px;
  float: left;
  background-color: #dcdcdc;
  padding: 135px 29px 135px 20px;
}
#financing .w2 {
  margin: 22px auto 38px auto;
  width: 439px;
  height: 60px;
  color: #848286;
  font-size: 15px;
  font-family: '微软雅黑 Regular', '微软雅黑';
}
#financing .w21 {
  float: left;
  height: 15px;
  width: 9px;
  padding: 20px 22px 40px 13px;
  background-color: #f2f2f2;
  margin-right: 10px;
}
#financing .w21:hover {
  background-color: #8e8e8e;
}
#financing .w22 {
  float: left;
  height: 60px;
  background-color: #f2f2f2;
  margin-right: 10px;
}
#financing .w220 {
  padding: 24px 15px 20px 15px;
  border-bottom: 4px;
  line-height: 12px;
  float: left;
}
#financing .w23 {
  float: left;
  height: 15px;
  width: 9px;
  padding: 20px 22px 40px 13px;
  background-color: #f2f2f2;
}
#financing .w3 {
  position: absolute;
  display: none;
  width: 339.5px;
  height: 186px;
  z-index: 100;
  color: #f9f9f9;
  font-family: '微软雅黑 Regular', '微软雅黑';
  font-size: 11px;
  background-color: rgba(139, 96, 155, 0.9);
  padding: 0 0 0 20.5px;
}
#financing .w30 {
  float: left;
  margin: 19.5px 3px 19.5px 0;
}
#financing .w300 {
  padding: 5.5px 9.5px 5.5px 9.5px;
  margin-bottom: 8px;
  line-height: 12px;
  cursor: pointer;
}
#financing .w300:hover {
  background-color: #3d2243;
}
#financing .purplebdbt {
  border-bottom: 4px solid #c45fd9;
}
#financing .graybg {
  background-color: #8e8e8e;
}
#financing .purplebg {
  background-color: #8d5a95;
}
#financing .clearfix {
  clear: both;
}
#financing .blank {
  height: 15px;
}
#financing .purplew3 {
  background-color: #3d2243;
}
#project {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}
#project h2,
#project h4 {
  font-family: 微软雅黑;
  color: #989699;
}
#project .projectImg img {
  width: 100%;
}
#project .projectDetail {
  background-color: #f2f2f2;
  height: 314px;
  width: 54%;
}
#project .rightBar {
  background-color: #8e5b96;
  height: 314px;
  width: 4%;
}
#project .rightBar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container #bg {
  background-image: url(../img/login/login-bg.png);
  height: 500px;
}
#container #bg #words {
  width: 370px;
  margin-top: 216px;
  margin-left: 140px;
}
#container #bg #login {
  height: 400px;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#container #bg #login .first {
  margin-top: 40px;
}
#container #bg #login .input-group {
  margin-top: 20px;
  height: 60px;
}
#container #bg #login .input-group #username {
  height: 60px;
}
#container #bg #login .input-group #password {
  height: 60px;
}
#container #bg #login #login_button {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  color: white;
  background-color: #8d5a95;
}
#container #bg #login #regist_link {
  margin-left: 35%;
  height: 50%;
}
#container #headimg {
  display: block;
  margin: 0 auto;
}
#container #bg_reg {
  background-image: url(../img/login/login-bg.png);
  height: 500px;
}
#container #bg_reg #startup-rrregist {
  margin-top: 40px;
  margin-bottom: 40px;
}
#container #bg_reg #invest-rrregist {
  margin-top: 40px;
  height: 300px;
}
#container #bg_reg #startup_reg {
  background-image: url(../img/regist/start-up2.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
  margin-top: 68px;
  margin-left: 72px;
}
#container #bg_reg #startup_reg_finish {
  background-image: url(../img/regist/start-up.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 25%;
  margin-top: 68px;
  margin-left: 22%;
}
#container #bg_reg #invest_reg {
  background-image: url(../img/regist/vc2.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
  margin-top: 68px;
  margin-left: 72px;
}
#container #bg_reg #invest_reg_finish {
  background-image: url(../img/regist/vc.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 25%;
  margin-top: 68px;
  margin-left: 22%;
}
#container #bg_reg #regist_button {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  color: white;
  background-color: #8d5a95;
}
#container #bg_reg #login_button {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  color: white;
  background-color: #8d5a95;
}
#container #bg_reg #login_link {
  margin-left: 35%;
  height: 50%;
}
#financingprocess .header {
  width: 100%;
}
#financingprocess #navigation {
  margin-left: 10%;
  margin-top: 29px;
}
#financingprocess #navigation li {
  list-style-type: none;
  float: left;
}
#financingprocess #process {
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
}
#financingprocess #process .row .col-md-3 {
  height: 260px;
  width: 220px;
  background-color: #eeeeee;
  margin-left: 40px;
  margin-bottom: 20px;
}
#financingprocess #process .row .col-md-3 img {
  margin: 0 auto;
  padding-top: 30%;
  display: block;
  height: 150px;
}
#financingprocess #process .row .col-md-3 h4 {
  font-family: 微软雅黑;
  font-size: 21px;
  text-align: center;
  margin-bottom: 0px;
  color: #8a847c;
  padding-top: 44px;
}
#privacypolicy .header {
  width: 100%;
  height: 240px;
  background-color: #8c5c94;
}
#privacypolicy #navigation {
  margin-left: 10%;
  margin-top: 29px;
}
#privacypolicy #navigation h4 {
  color: #8c5c94;
}
#privacypolicy #navigation li {
  list-style-type: none;
  float: left;
}
#privacypolicy .text {
  font-family: 微软雅黑;
  width: 80%;
  display: block;
  margin: 0 auto;
}
#privacypolicy .text h2 {
  font-family: 微软雅黑;
  text-align: center;
  color: darkgray;
}
#privacypolicy .text h3,
#privacypolicy .text h4 {
  font-family: 微软雅黑;
  color: darkgray;
}
