body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:27px;
  width:1343px;
  visibility:hidden;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:170px;
  top:21px;
  width:100px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:293px;
  top:21px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:783px;
  top:20px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1020px;
  top:21px;
  width:230px;
  height:28px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:913px;
  top:18px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:661px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:720px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:602px;
  top:21px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1260px;
  top:21px;
  width:60px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:390px;
  top:21px;
  width:103px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:90px;
  top:238px;
  width:410px;
  height:240px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:240px;
}
#u27 {
  position:absolute;
  left:2px;
  top:112px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:90px;
  top:200px;
  width:250px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:540px;
  top:238px;
  width:200px;
  height:100px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:90px;
  top:498px;
  width:250px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:550px;
  top:536px;
  width:200px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:90px;
  top:536px;
  width:410px;
  height:240px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:240px;
}
#u37 {
  position:absolute;
  left:2px;
  top:112px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:550px;
  top:734px;
  width:100px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:550px;
  top:760px;
  width:150px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:90px;
  top:798px;
  width:410px;
  height:240px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:240px;
}
#u43 {
  position:absolute;
  left:2px;
  top:112px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:550px;
  top:996px;
  width:100px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:550px;
  top:1022px;
  width:150px;
  height:16px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:90px;
  top:1068px;
  width:410px;
  height:240px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:240px;
}
#u49 {
  position:absolute;
  left:2px;
  top:112px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:550px;
  top:1266px;
  width:100px;
  height:16px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:550px;
  top:1292px;
  width:150px;
  height:16px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:90px;
  top:90px;
  width:200px;
  height:100px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u55 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:320px;
  top:90px;
  width:200px;
  height:100px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u57 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
