<div id="container" controller="FinancingCtrl">
	<div id="financing">
	    <carousel interval="myInterval">
	      <slide ng-repeat="slide in slides" active="slide.active">
	        <img ng-src="[[slide.image]]">
	        <div class="carousel-caption">
	        	<div id="introduction">
    				<div id="vertical-line"></div>
    				<p class="t1 title1">[[slide.title]]</p>
    				<div id="horizontal-line"></div>
    				<p class="t3 title2">[[slide.detail]]</p>
    			</div>
	        </div>
	      </slide>
	    </carousel>
	    <div id="options">
    		<div id="opt0" align="center">
    			<div class="opt-pos0"></div>
    			<p class="t3 opt-text">筛选项目</p>
    			<div class="opt-pos0"></div>
    		</div>
    		<div class="opt" ng-repeat="branch in branches" ng-mouseenter="show = true" ng-mouseleave="show = false">
    			<a href="#"><div class="opt-pos"></div>
	    			<p class="t3 opt-text">[[branch.name]]</p>
	    			<img src="static/img/base-financing/xiala.png" class="opt-img">
	    			<div class="opt-pos"></div>
    			</a>
    			<ul ng-show="show">
    				<a ng-repeat="type in branch.types" href="?field=[[type.tag]]"><li>[[type.name]]</li></a>
    			</ul>
    		</div>
    	</div>
	</div>
</div>
