<div id="financingprocess">
	<img class="header" src="/static/img/process/policy.jpg">
	<ul id="navigation">
		<li><a href="/"><h4>首页</h4></a></li>
		<li><i class=" icon-angle-right icon-2x"></i></li>
		<li><h4>融资流程</h4><li>
	</ul>
	<div id="process">
		<div class="row">
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/11.jpg" alt="img">
			        </div>
			        <div class="info">
						<img src="static/img/process/1.png" alt="img">
			        </div>

				</a>
		    </div>
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/21.jpg" alt="img">
			        </div>
			        <div class="info">
						<img src="static/img/process/2.png" alt="img">
			        </div>
				</a>
		    </div>    
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/31.jpg" alt="img">
			        </div>
			        <div class="info">
						<img src="static/img/process/3.png" alt="img">
			        </div>
				</a>
		    </div>
<!-- 		    <img id="arrow1" src="static/img/process/arrow1.png">
		    <img id="arrow2" src="static/img/process/arrow2.png">
		    <img id="or" src="static/img/process/or.png"> -->

		</div>
		<div class="row">
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/41.jpg" alt="img">
			        </div>
			        <div class="info">
			          <img src="static/img/process/4.png" alt="img">
			        </div>
				</a>
		    </div>
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/51.jpg" alt="img">
			        </div>
			        <div class="info">
			         <img src="static/img/process/5.png" alt="img">
			        </div>
				</a>
		    </div>    
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/61.jpg" alt="img">
			        </div>
			        <div class="info">
			          <img src="static/img/process/6.png" alt="img">
			        </div>
				</a>
		    </div>
		</div>
		<div class="row">
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/71.jpg" alt="img">
			        </div>
			        <div class="info">
			          <img src="static/img/process/7.png" alt="img">
			        </div>
				</a>
		    </div>
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/81.jpg" alt="img">
			        </div>
			        <div class="info">
			          <img src="static/img/process/8.png" alt="img">
			        </div>
				</a>
		    </div>    
		    <div class="ih-item square effect10 left_to_right col-md-3">
			    <a href="#">
			        <div class="img"><img src="static/img/process/91.jpg" alt="img">
			        </div>
			        <div class="info">
			          <img src="static/img/process/9.png" alt="img">
			        </div>
				</a>
		    </div>

		</div>

	</div>
</div>

