<div ng-controller="HomepageCtrl">  
<div>
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="[[slide.image]]">
        <div class="carousel-caption">
          <!-- <h4>Slide [[$index+1]]</h4> -->
        </div>
      </slide>
    </carousel>
</div>
<!-- Chuangyezhe-page -->
<div class="tab-bar">
  <div class="width-limited">
    <a href="/"><div class="tab tab-active">我是创业者</div></a>
    <a href="/invest"><div class="tab">我是投资人</div>
    <img class="xiaojiao" src="/static/img/index/jiao.png"></a>
  </div> 
</div>

<div class="banner">
    <div class="cyz-icon">
      <a href="/user/myproject">
        <img src="static/img/index/button-guanli.png">
        <h3>管理我的项目</h3>
      </a>
    </div>
    <div class="cyz-icon">
      <a href="/financingprocess">
        <img src="static/img/index/button-rongzi.png">
        <h3>我要融资</h3>
      </a>
    </div>
</div>

  <div>
    <div class="dashiji">
        <img src="../static/img/index/dashiji-bg.jpg">
        <div class="startup">
          <img src="../static/img/index/chuangjiacafe.png">
          <div id="endoftext"></div>
          <div id="info">
            <div id="head">某团队获得了资金7万元</div>
            <div id="text">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaadddddddddddddddddddddddddddddddddddddddddddddddaaaaaa</div>
          </div>

        </div>
        <div id="event">大事记 · EVENTS</div>
    </div>
    <a href="/financingprocess"><img id="image" src="../static/img/index/rongziliucheng.png"></a>
    <img id="image" src="../static/img/index/chuangjiacafe.png">
    <img id="image" src="../static/img/index/difangzhengfu.png">
  </div>

  <div class="hzdw" >
      <h1>合作单位</h1>
        <img src="../static/img/index/hezuo.png" >
  </div>
</div>
