<div>
	<div id="library">
		<!-- <img src="static/img/process/policy.jpg"> -->
		<p id="head">清华大学  优质项目</p>
		<div id="options">
			<div id="opt0" align="center">
				<div class="opt-pos0"></div>
				<p class="t3 opt-text">筛选项目</p>
				<div class="opt-pos0"></div>
			</div>
			<div class="opt" ng-repeat="branch in branches" ng-mouseenter="show = true" ng-mouseleave="show = false">
				<a href="#"><div class="opt-pos"></div>
					<p class="t3 opt-text">[[branch.name]]<i class="icon-angle-down"></i></p>
					<div class="opt-pos"></div>
				</a>
				<ul ng-show="show">
					<a ng-repeat="type in branch.types" ng-href="/library/[[menus[branch.name] ]]?[[type.tag]]"><li>[[type.name]]</li></a>
				</ul>
			</div>
	    </div>
	</div>
	<div class="row" id="project" ng-repeat="project in projectlist">
        <div class="col-md-5 projectImg"><img ng-src="[[project.logo_path]]"></div>
        <div class="col-md-6 projectDetail">
            <h2>[[project.name]]</h2>
            <h4><i class="icon-user"></i>&nbsp;&nbsp;[[project.CEO]]&nbsp;&nbsp;<i class="icon-globe"></i>&nbsp;&nbsp;[[project.stage]]</h4>
            <h4>[[project.summary]]</h4>
            <div id="endoftext"></div>
            <div id = "fieldlist">
          		<button ng-repeat="fieldshow in project.field1" class="btn btn-default" id="field">[[type[fieldshow] ]]</button>
          	</div>
        </div>
        <a ng-href="/projectdetail/roadshow/[[project.id]]">
        	<div class="col-md-1 rightBar"><img ng-src="static/img/project/seemore.png"></div>
        </a>
    </div>
</div>
