<div id="container" controller="LoginCtrl">
	<div class="row" id="bg">
		<div class="col-md-6">
		<h4>创加</h4>
		<h4>登录</h4>
		</div>
		<div class="col-md-6" >
			<form class="ui form segment" ng-submit="login_user()" id="login">
				<div class="form-group">  
				    <div class="input-group" class="first">
				      <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
				      <input type="text" class="form-control" id="username" placeholder="输入用户名" ng-model="login_info.username" required>
				    </div>
				</div>
				<div class="form-group">  
				    <div class="input-group">
				      <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
				      <input type="text" class="form-control" id="password" placeholder="输入密码" ng-model="login_info.password" required>	
				    </div>
				</div>
				<error-message error="error"></error-message>
	        	<input type="submit" value="登录" class="button" id="login_button">
	        	<br/>
	        	<span>没有账号，请点击</span><a href="/regist">注册</a>
	        </form>
		</div>
	</div>
</div>