<div id="projectdetail">
	<div class="tab-bar">
      <div class="width-limited">
        <a href="/projectdetail/roadshow"><div class="tab tab-active">项目路演</div></a>
        <a href="/projectdetail/text"><div class="tab">项目文本</div></a>
        <a href="/projectdetail/joinus"><div class="tab">创业实习招聘</div></a>
        <img class="pulldown_roadshow" src="/static/img/index/jiao.png">
      </div>
    </div>
    <div id="header">
		<img src="/static/img/projectdetail/logo.jpg" class="img-circle">
		<div class="name">
			<span id="sizeh3">
				[[projectdetail.name]]
			</span>
			<span id="sizeh4">
				[[projectdetail.financing]]
			</span>
		</div>
		<h4>[[projectdetail.philosophy]]</h4>
		<p>
			<h4>[[projectdetail.tags]]</h4>
		</p>
		<div id="leftbar">
			<img src="/static/img/projectdetail/addattention.png">
			    <div id="endoftext"></div>
			<img src="/static/img/projectdetail/addinvite.png">
			    <div id="endoftext"></div>
			<img src="/static/img/projectdetail/tocontact.png">
		</div>
    </div>
    <div id="roadshowimg">
    	<img src="/static/img/projectdetail/images.jpg">
    </div>
</div>
