<div id="projectdetail">
	<div class="tab-bar">
      <div class="width-limited">
        <a href="/projectdetail/roadshow"><div class="tab">项目路演</div></a>
        <a href="/projectdetail/text"><div class="tab tab-active">项目文本</div></a>
        <!-- <a href="/projectdetail/joinus"><div class="tab">创业实习招聘</div></a> -->
        <img class="pulldown_text" src="/static/img/index/jiao.png">
      </div>
    </div>
    <div id="text">
    	<div class="name">
    		<span id="sizeh3">
    			[[projectdetail.name]]
    		</span>
    		<span id="sizeh4" ng-repeat="tag in projectdetail.tags">
				[[tag.name]]
			</span>
			<img src="/static/img/projectdetail/guanzhuicon.png" class="img-guanzhuicon">
			<span id="sizeh5">[[projectdetail.guanzhu]]人关注</span>
    	</div>
		<div class="project">
			<img src="/static/img/projectdetail/logo2.jpg" class="img-square">
			<table id="projecttext" cellspacing="15px" cellpadding="80">
				<tr>
					<td style="vertical-align:top;text-align:left;" class="td1"><span class="sizeh6">项目理念</span></td>
					<td style="vertical-align:top;text-align:left;" class="td2"><div style="margin-left:35px"><span class="sizeh7">[[projectdetail.philosophy]]</span></div></td>
				</tr>
				<tr>
					<td style="vertical-align:top;text-align:left;" class="td1"><span class="sizeh6">项目总览</span></td>
					<td style="vertical-align:top;text-align:left;" class="td2"><div style="margin-left:35px"><span  class="sizeh7">[[projectdetail.overview]]</span></div></td>
				</tr>
				<tr>
					<td style="vertical-align:top;text-align:left;" class="td1"><span class="sizeh6">相关链接</span></td>
					<td style="vertical-align:top;text-align:left;" class="td2"><div style="margin-left:35px"><a href=[[projectdetail.link]] class="sizeh7">[[projectdetail.link]]</a></div></td>
				</tr>
				<tr>
					<td style="vertical-align:top;text-align:left;" class="td1"><span class="sizeh6">融资情况</span></td>
					<td style="vertical-align:top;text-align:left;" class="td2"><div style="margin-left:35px"><span class="sizeh7">[[projectdetail.financing]]</span></div></td>
				</tr>
			</table>		
		</div>
		<div id="rightbar">
			<img src="/static/img/projectdetail/addattention.png">
			    <div id="endoftext"></div>
			<img src="/static/img/projectdetail/addinvite.png">
			    <div id="endoftext"></div>
			<img src="/static/img/projectdetail/tocontact.png">
		</div>
    </div>

   	<div id="projectinfo">
		<div class="tab-bar">
			<div class="width-limited">
			    <a href="#"><div ng-click="teaminfo()" ng-class="{'tab-active': tab1,'tab':tab}" >团队介绍</div></a>
			    <a href="#"><div ng-click="productinfo()" ng-class="{'tab-active': tab2,'tab':tab}" >产品介绍</div></a>
			    <a href="#"><div ng-click="industryanalysis()" ng-class="{'tab-active': tab3,'tab':tab}" >同行业分析</div></a>
			    <a href="#"><div ng-click="futureplan()" ng-class="{'tab-active': tab4,'tab':tab}"  >未来规划</div></a>
			    <a href="#"><div ng-click="breaknews()" ng-class="{'tab-active': tab5,'tab':tab}" >项目大事记</div></a>
			</div>
		</div>
	</div>
	<div id="projectcontent">
		<div  ng-show="controlinfo=='teaminfo'" >
			<div id="teammember" ng-repeat="teammember in projectdetail.teammembers">
				<div id="member">
					<img src=[[teammember.image]]>
					<span id="sizeh8">[[teammember.name]]</span>
					<span id="sizeh9">[[teammember.position]]</span>
					<span id="sizeh10">[[teammember.introduction]]</span>
				</div>
			</div>
		</div>
		<div ng-show="controlinfo=='productinfo'" id="productinfo">
			<div class="sizeh11"><span>产品详细图文介绍</span></div>
			<img class="sizeimg" src=[[projectdetail.introduction]]>
			<table>
				<tr>
					<td><span class="sizeh11">相关网站链接&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
					<td><a href=[[projectdetail.link]] class="sizeh12">[[projectdetail.link]]</a></td>
				</tr>
				<tr>
					<td><span class="sizeh11">相关二维码&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
					<td><img id="qrcodeImg" src=[[projectdetail.code2D]]></td>
				</tr>
			</table>
		</div>
		<div ng-show="controlinfo=='industryanalysis'" id="industryanalysis">
				<p class="sizeh11">总体市场分析</p>
				<p class="sizeh12">[[projectdetail.marketanalysis]]<p>
				<p class="sizeh11">竞争者分析<p>
				<p class="sizeh12">[[projectdetail.competitoranalysis]]<p>
				<p class="sizeh11">消费者分析<p>
				<p class="sizeh12">[[projectdetail.consumeranalysis]]<p>
		</div>
		<div ng-show="controlinfo=='futureplan'" id="futureplan">
			<p class="sizeh11">商业模式</p>
			<p class="sizeh12">[[projectdetail.businessmodel]]</p>
			<p class="sizeh11">未来规划</p>
			<p class="sizeh12">[[projectdetail.futureplan]]</p>
		</div>
		<div ng-show="controlinfo=='breaknews'" id="breaknew">
			<div ng-repeat="breaknew in projectdetail.breaknews">
				<div class="sizeh13"><span>[[breaknew.date]]</span></div>
				<div class="sizeh13"><span>[[breaknew.content]]</span></div>
				<div class="sizeh13"><a href=[[breaknew.link]]>[[breaknew.link]]</a></div>
			</div>
		</div>
	</div>
</div>
