<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-list">
			  <li class="active">
			    <a href="/about">公司简介<i class="icon-flag"></i></a>
			  </li>
			  <li>
			    <a href="/trends">最新动态<i class="icon-laptop"></i></a>
			  </li>
			  <li>
			    <a href="/notice">网页公告<i class="icon-bullhorn"></i></a>
			  </li>
			  <li>
			    <a href="/jobs">招贤纳士<i class="icon-group"></i></a>
			  </li>
			  <li>
			    <a href="/contact">联系我们<i class="icon-envelope"></i></a>
			  </li>
			  <li>
			    <a href="/coffee">创加咖啡<i class="icon-coffee"></i></a>
			  </li>
			  <li>
			    <a href="/government">地方政府<i class="icon-building"></i></a>
			  </li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2><i class="icon-star"></i>创+咖啡</h2>
			<h3>创+咖啡厅是创加团队为创业者们提供的公益交流平台。在这里，每一张桌子都可以成为创业团队讨论、办公、活动的免费场所。</h3>
			<h3>创+咖啡于2014年10月开始营业，现有面积108平，包含三间会议室，一个路演厅，一个活动空间。以下是创+咖啡厅的一些活动特色：</h3>
			<h3>定期线下路演：每周我们将会邀请创加网站上的优秀团队在咖啡厅进行线下路演，与投资人面对面交流。</h3>
			<h3>读书分享会：每周针对创加咖啡厅书架上的一些创业相关书籍，我们将会召开读书分享会，交流、分享心得感悟。</h3>
			<h3> 创业沙龙：我们将会定期邀请创业人士、投资人开展创业讲座、沙龙等形式多样的活动，为创业者提供更多指导和帮助。</h3>
		</div>
	</div>

</div>
