<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-list">
			  <li class="active">
			    <a href="/about"><i class="icon-flag"></i>公司简介</a>
			  </li>
			  <li>
			    <a href="#">最新动态</a>
			  </li>
			  <li>
			    <a href="#">网页公告</a>
			  </li>
			  <li>
			    <a href="jobs">招贤纳士</a>
			  </li>
			  <li>
			    <a href="#">联系我们</a>
			  </li>
			  <li>
			    <a href="#">创加咖啡</a>
			  </li>
			  <li>
			    <a href="#">地方政府</a>
			  </li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2>合作联系</h2>
			<h3>电话：15201520366 宁先生</h3>
			<h3>email：thuchuangjia@163.com</h3>
			<h2>客服电话：</h2>
			<h2>办公地址:</h2>
			<h3>清华科技园创新大厦D1层 创加咖啡厅</h3>
		</div>
	</div>

</div>
