<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-list">
			  <li class="active">
			    <a href="/about">公司简介<i class="icon-flag"></i></a>
			  </li>
			  <li>
			    <a href="/trends">最新动态<i class="icon-laptop"></i></a>
			  </li>
			  <li>
			    <a href="/notice">网页公告<i class="icon-bullhorn"></i></a>
			  </li>
			  <li>
			    <a href="/jobs">招贤纳士<i class="icon-group"></i></a>
			  </li>
			  <li>
			    <a href="/contact">联系我们<i class="icon-envelope"></i></a>
			  </li>
			  <li>
			    <a href="/coffee">创加咖啡<i class="icon-coffee"></i></a>
			  </li>
			  <li>
			    <a href="/government">地方政府<i class="icon-building"></i></a>
			  </li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2>合作联系</h2>
			<h3>电话：15201520366 宁先生</h3>
			<h3>email：thuchuangjia@163.com</h3>
			<h2>客服电话：</h2>
			<h2>办公地址:</h2>
			<h3>清华科技园创新大厦D1层 创加咖啡厅</h3>
		</div>
	</div>

</div>
