<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-list">
			  <li class="active">
			    <a href="/about">公司简介<i class="icon-flag"></i></a>
			  </li>
			  <li>
			    <a href="/trends">最新动态<i class="icon-laptop"></i></a>
			  </li>
			  <li>
			    <a href="/notice">网页公告<i class="icon-bullhorn"></i></a>
			  </li>
			  <li>
			    <a href="/jobs">招贤纳士<i class="icon-group"></i></a>
			  </li>
			  <li>
			    <a href="/contact">联系我们<i class="icon-envelope"></i></a>
			  </li>
			  <li>
			    <a href="/coffee">创加咖啡<i class="icon-coffee"></i></a>
			  </li>
			  <li>
			    <a href="/government">地方政府<i class="icon-building"></i></a>
			  </li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2><i class="icon-star"></i>地方政府——为团队落地提供土壤</h2>
			<h3>四家地方政府均将对创加平台上的优秀团队提供强有力的支持。</h3>
			<h2><i class="icon-star"></i>资金</h2>
			<h3>对于有意愿到地方落地的创业团队，地方政府将会为之提供一定落地基金。</h3>
			<h2><i class="icon-star"></i>场地</h2>
			<h3>对于落地当地的创业项目，地方政府将会为之提供免费场地。</h3>
			<h2><i class="icon-star"></i>优惠政策</h2>
			<h3>落地之后，创业团还将获得税收减免、资源优先提供等等全方位的优惠政策。</h3>
		</div>
	</div>

</div>
