<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-list">
			  <li class="active">
			    <a href="/about">公司简介<i class="icon-flag"></i></a>
			  </li>
			  <li>
			    <a href="/trends">最新动态<i class="icon-laptop"></i></a>
			  </li>
			  <li>
			    <a href="/notice">网页公告<i class="icon-bullhorn"></i></a>
			  </li>
			  <li>
			    <a href="/jobs">招贤纳士<i class="icon-group"></i></a>
			  </li>
			  <li>
			    <a href="/contact">联系我们<i class="icon-envelope"></i></a>
			  </li>
			  <li>
			    <a href="/coffee">创加咖啡<i class="icon-coffee"></i></a>
			  </li>
			  <li>
			    <a href="/government">地方政府<i class="icon-building"></i></a>
			  </li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2><i class="icon-star"></i>创+</h2>
			<h3>创加项目由清华大学发起，我们将借助公益性和商业性结合的投资方式，创建吸引社会主动参与的学生创业支持平台。</h3>
			<h2><i class="icon-star"></i>创+成长</h2>
			<h3>公益商业基金相结合，保证社会资本回报</h3>
			<h3>线上平台拓展边界，建立便捷参与平台</h3>
			<h3>广泛地方政府参与，促进创业项目落地</h3>
			 
			<h2><i class="icon-star"></i>创+空间</h2>
			<h3>线下基地促进交流，建立可复制单元</h3>
			<h3>提供猎头、税务、法务等专业化线下服务</h3>
		</div>
	</div>

</div>
