<div class="tab-bar">
    <div class="width-limited">
      <a href="/regist_startup"><div class="tab">我是创业者</div></a>
      <a href="/regist_invest_auth"><div class="tab tab-active">我是投资人</div>
      <img class="xiaojiao" src="static/img/index/jiao.png"></a>
    </div>
  </div>
<div>
<div id="container" ng-controller="RegistStartupFinishCtrl">
	<img src="static/img/regist/invest-3.png" id="headimg">
	<div class="row" id="bg_reg">
		<div class="col-md-6" id="invest_reg_finish">
		</div>
		<div class="col-md-6" id="inv_reg_success">
			<div>
				<span>
					<img src="/static/img/regist/gou.png">	
					<font face="Microsoft YaHei UI" color="#787878" size="4.5" >  恭喜您，注册成功！创+祝您投资愉快。</font>
				</span>
				<br/>
				<span>
					<button id="finish_check_button"><img src='/static/img/regist/view.png'>  查看正在融资的项目</button>
				</span>
				<br/>
				<span>

					<button id="finish_return_button"><img src='/static/img/regist/return.png'>  返回注册前页面</button>	

					<img src="/static/img/regist/return.png">	
					<a href="">返回注册前页面</a>				

				</span>
			</div>
		</div>
	</div>
</div>
