<div class="tab-bar">
    <div class="width-limited">
      <a href="/regist_startup"><div class="tab tab-active">我是创业者</div></a>
      <a href="/regist_invest_auth"><div class="tab">我是投资人</div>
      <img class="xiaojiao" src="static/img/index/jiao.png"></a>
    </div>
 </div>
<div id="container" ng-controller="RegistStartupCtrl">
	 <img src="static/img/regist/start-up-1.png" id="headimg">
	 <div class="row" id="bg_reg">
		<div class="col-md-6" id="startup_reg">
		</div>
		<div class="col-md-6" id="startup-rrregist">
			<form class="ui form segment" ng-submit="startup_regist()">
				<div class="form-group">  
				    <div class="input-group">
				      <div class="input-group-addon"><i class="icon-user icon-large"></i></div>
				      <input type="text" class="form-control" id="username" placeholder="用户名" ng-model="startup.username" required>
				    </div>
				</div>
				<div class="form-group">  
				    <div class="input-group">
				      <div class="input-group-addon"><i class="icon-envelope icon-large"></i></div>
				      <input type="text" class="form-control" id="email" placeholder="邮箱" ng-model="startup.email" required>
				    </div>
				</div>
				<div class="form-group">  
				    <div class="input-group">
				      <div class="input-group-addon"><i class="icon-key icon-large"></i></div>
				      <input type="password" class="form-control" id="password" placeholder="密码" ng-model="startup.password" required>	
				    </div>
				</div>
				<div class="form-group">  
				    <div class="input-group">
				      <div class="input-group-addon"><i class="icon-key icon-large"></i></div>
				      <input type="password" class="form-control" id="password" placeholder="再次输入密码" ng-model="startup.repassword" required>	
				    </div>
				</div>
				<div class="form-group">  
				    <div class="input-group">
				      <div class="input-group-addon"><i class="icon-picture icon-large"></i></div>
				      <input type="text" class="form-control" id="password" placeholder="验证码" ng-model="startup.captcha" required>
				    </div>
				    <img ng-src='[[captcha_url]]' id="captcha" alt="验证码">

				    <button type="button" ng-click="refresh()" class="btn btn-link">看不清？刷新验证码</button>
				</div>
				<error-message error="error"></error-message>
	        	<button id="regist_button"><font face="Microsoft YaHei UI">注册</font><img src='/static/img/regist/narrow.png'></button>
	        	<!--<input type="submit" value="注册" class="button" id="regist_button">-->
	        	<br/>
	        </form>
		</div>
	</div>
</div>
