<div class="tab-bar">
    <div class="width-limited">
      <a href="/regist_startup"><div class="tab tab-active">我是创业者</div></a>
      <a href="/regist_invest"><div class="tab">我是投资人</div>
      <img class="xiaojiao" src="static/img/index/jiao.png"></a>
    </div>
 </div>
<div id="container" ng-controller="RegistInvestFinishCtrl">
	 <img src="static/img/regist/start-up-2.png" id="headimg">
	 <div class="row" id="bg_reg">
		<div class="col-md-6" id="startup_reg_finish_bg">
		</div>
		<div class="col-md-6" id="startup_reg_finish">
			<div id="word">
				<span>
					<img src="/static/img/regist/gou.png">
					恭喜你注册成功！创加祝您创业成功
				</span>
				<br/>
				<span>
					 <button class="btn">
					 <img src="/static/img/regist/create.png">&nbsp;&nbsp;<a href="/createproject">创建我的项目</a></button>
				</span>
				<br/>
				<span>
					<button class="btn">
					<img src="/static/img/regist/view.png">&nbsp;&nbsp;<a href="/financing">查看正在融资的项目</a> </button>
				</span>
				<br/>
				<span>
					<button class="btn"><img src="/static/img/regist/return.png">&nbsp;&nbsp;<a href="">完善个人信息</a> </button>				
				</span>
			</div>
		</div>
	</div>
</div>