<div class="project-apply">
  <h2 class="page-header">创建你的项目</h2>
  <form class="apply-form ui form" ng-submit="create_project()">
    <h3 class="sub-title">step2:团队联系人信息</h3>    
    <div class="sub-form">
      <div class="field">
        <div class="field">
          <label>姓名</label>
          <div class="ui left labeled input">
            <input type="text" ng-model="apply_info.name" placeholder="姓名" required>
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>职位</label>
          <div class="ui left labeled input">
            <input type="text" ng-model="apply_info.position" placeholder="职位" required>
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
      </div>
      
        <div class="field">
          <label>手机号</label>
          <div class="ui left labeled input">
            <input type="text" ng-model="apply_info.phonenumber" placeholder="手机号" required>
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>邮箱</label>
          <div class="ui left labeled input">
            <input type="text" ng-model="apply_info.email" placeholder="邮箱" required>
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
      
        <div class="field">
          <label>微信号</label>
          <div class="ui left labeled input">
            <input type="text" ng-model="apply_info.wechat" placeholder="微信号" required>
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
    <error-message error="error"></error-message>
    <input type="submit" class="submit button ui green" value="提交">
    
  </form>
</div>
